<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button color="light" tab="tab1">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button color="light" tab="tab2">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Agendamento</ion-label>
    </ion-tab-button>

    <ion-tab-button color="light" tab="tab3">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
