<ion-content>
  <img class="background-image" src="/assets/fundohome.gif" alt="Imagem de fundo">
  <ion-card-content>
    <ng-container *ngIf="agendas.length > 0; else noData">
      <ion-row class="genre-cards">
        <ion-col size="6" *ngFor="let a of agendas">
          <ion-card (click)="visualizar(a)" color="light">
            <ion-card-content>
              <ion-icon name="calendar-outline"></ion-icon>
              <p>{{ a.dataAgenda }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-template #noData>
      <ion-item>Nenhum agendamento encontrado.</ion-item>
    </ng-template>
  </ion-card-content>

  <ion-footer class="ion-no-margin">
    <ion-fab>
      <ion-fab-button color="light">
        <ion-icon name="add" (click)="novoAgendamento()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-footer>
</ion-content>