ion-content{
    --ion-background-color: transparent;
}

.bg-color{
    background: #FFFFFF;
}

ion-header{
    position: absolute;
}

ion-toolbar{
    --ion-background-color:transparent;
    --opacity:0;
}

ion-card{
    --ion-background-color:transparent;
    box-shadow: none !important;
}

ion-card-title{
    margin-top: 50px;
    font-size: 25px;
    color: #000000;
    font-weight: 600;
    text-align: center;
}

ion-card-subtitle{
    margin-top: 20px;
    text-align: center;
    padding-top: 15px;
    font-size: 13px;
    color: gray;
    font-weight: 400;
    text-transform: none;
    padding: 0 30px;
}

ion-card-content{
    padding-top: 30px;
}

ion-item{
    color: rgb(76, 74, 74);
    --border-color: silver;
    --highlight-color-focused:#FF676D;
    --padding-start:0;
    --inner-padding-end:0;
    font-size: 18px;
    ion-input{
        color: rgb(76, 74, 74);
        font-size: 18px;
    }
    ion-icon{
        padding-right: 6px;
        font-size: 25px;
    }
    ion-input:hover{
        color:#FF676D;
    }
}

.sign-btn-wrap{
    margin-top: 25px;
    text-align: center;
    padding-top: 20px;
    .sign-btn{
        --ion-primary-color:#FF676D !important;
        width: 140px;
    }
}

.text-tag{
    margin-top: 30px;
    text-align: center;
    span{
        font-size: 13px;
        font-weight: normal;
        color: #FF676D;
    }
}

.social-btns{
    margin-top: 15px;
    text-align: center;
    ion-button{
        width: 40px;
        padding: 5px !important;
    }
}