<ion-header>
  <ion-toolbar color="light">
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-item>
          <ion-icon name="person-outline"></ion-icon>
          <ion-label (click)="goProfile()">Perfil</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar-outline"></ion-icon> 
          <ion-label (click)="goAgendamento()">Agendamento</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="megaphone-outline"></ion-icon>  
          <ion-label (click)="goAbout()">Sobre</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="help-circle-outline"></ion-icon>
          <ion-label (click)="goHelp()">Ajuda</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="exit-outline"></ion-icon>
          <ion-label (click)="exit()">Sair</ion-label>
        </ion-item>
</ion-content>